
section
{

    background:url('../imgs/MagicalForest.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    
}
.form-box
{

    backdrop-filter: blur(15px);
}
.inputbox label
{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    transition: 0.3s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input
{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
}

.inputbox ion-icon
{
    position: absolute;
    right: 5px;
    color: white; 
    top: 20px;
}

.forget
{
    margin: 15px 0 15px;
    display: flex;
    justify-content:space-around;
}